@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% { transform: translateX(100%);}
  100% { transform: translateX(-100%);}
}
.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes fill3 {
  0%, 20% { fill: transparent; }
  21%, 30% { fill: #750015; }
  31%, 100% { fill: #750015; }
}

@keyframes fill2 {
  0%, 40% { fill: transparent; }
  41%, 60% { fill: #750015; }
  61%, 100% { fill: #750015; }
}

@keyframes fill1 {
  0%, 60% { fill: transparent; }
  61%, 90% { fill: #750015; }
  91%, 100% { fill: #750015; }
}


body {
  overflow-x: hidden;
}


/* Add this to your global CSS file */
.break-words {
  word-break: break-word;
  overflow-wrap: break-word;
}

.whitespace-pre-line {
  white-space: pre-line;
}



@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.pulse-animation {
  animation: pulse 1s infinite;
}


